In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('placement.csv')

In [4]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [5]:
import requests
from io import StringIO

url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'
headers = {'User-Agent': 'Mozilla/5.0'}
response = requests.get(url, headers=headers)
data = StringIO(response.text)
df2 = pd.read_csv(data)

In [6]:
df2.head()

   Index   Height(Inches)"   "Weight(Pounds)"
0      1             65.78             112.99
1      2             71.52             136.49
2      3             69.40             153.03
3      4             68.22             142.34
4      5             67.79             144.30

In [7]:
# sep parameter
df3 = pd.read_csv('placement.csv', sep=';')
df3.head()

  ,cgpa,iq,placement
0      0,6.8,123.0,1
1      1,5.9,106.0,0
2      2,5.3,121.0,0
3      3,7.4,132.0,1
4      4,5.8,142.0,0

In [8]:
pd.read_csv('placement.csv',names=['a','b','c','d','e']).head()   # when column name is not defined we give name explicitly

     a     b      c          d   e
0  NaN  cgpa     iq  placement NaN
1  0.0   6.8  123.0          1 NaN
2  1.0   5.9  106.0          0 NaN
3  2.0   5.3  121.0          0 NaN
4  3.0   7.4  132.0          1 NaN

In [9]:
pd.read_csv('placement.csv', index_col='cgpa')  # setting index column

      Unnamed: 0     iq  placement
cgpa
6.8            0  123.0          1
5.9            1  106.0          0
5.3            2  121.0          0
7.4            3  132.0          1
5.8            4  142.0          0
...          ...    ...        ...
4.3           95  200.0          0
4.4           96   42.0          0
6.7           97  182.0          1
6.3           98  103.0          1
6.2           99  113.0          1

[100 rows x 3 columns]

In [10]:
# header parameter
pd.read_csv('placement.csv', header=None).head()

     0     1      2          3
0  NaN  cgpa     iq  placement
1  0.0   6.8  123.0          1
2  1.0   5.9  106.0          0
3  2.0   5.3  121.0          0
4  3.0   7.4  132.0          1

In [11]:
pd.read_csv('placement.csv', header=1).head() # skipping first row

   0  6.8  123.0  1
0  1  5.9  106.0  0
1  2  5.3  121.0  0
2  3  7.4  132.0  1
3  4  5.8  142.0  0
4  5  7.1   48.0  1

In [ ]:
# use_cols parameter
pd.read_csv('placement.csv', usecols=['iq','placement']).head() # selecting specific columns

      iq  placement
0  123.0          1
1  106.0          0
2  121.0          0
3  132.0          1
4  142.0          0

In [ ]:
# Squeeze parameter
iq = pd.read_csv('placement.csv', usecols=['iq']).squeeze() # to convert dataframe to series
iq.head()

0    123.0
1    106.0
2    121.0
3    132.0
4    142.0
Name: iq, dtype: float64

In [14]:
# skiprows/nrows parameter
print(pd.read_csv('placement.csv', skiprows=2).head())  # skipping first two rows
pd.read_csv('placement.csv', nrows=5).head()  # reading only first 5 rows

   1  5.9  106.0  0
0  2  5.3  121.0  0
1  3  7.4  132.0  1
2  4  5.8  142.0  0
3  5  7.1   48.0  1
4  6  5.7  143.0  0

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [15]:
# encoding parameter
pd.read_csv('placement.csv', encoding='utf-8').head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [16]:
# dtype parameter
pd.read_csv('placement.csv', dtype={'iq': 'float64', 'cgpa': 'float64'}).dtypes

Unnamed: 0      int64
cgpa          float64
iq            float64
placement       int64
dtype: object

In [ ]:
# parse_dates parameter
# pd.read_csv('placement.csv', parse_dates=['status']).dtypes # converting status column to datetime format

In [20]:
# converters parameter
pd.read_csv(
    'placement.csv',
    converters={'iq': lambda x: float(x) + 10}
).head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  133.0          1
1           1   5.9  116.0          0
2           2   5.3  131.0          0
3           3   7.4  142.0          1
4           4   5.8  152.0          0

In [23]:
# na_values parameter
pd.read_csv('placement.csv', na_values={'placement': [0]}).head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0        1.0
1           1   5.9  106.0        NaN
2           2   5.3  121.0        NaN
3           3   7.4  132.0        1.0
4           4   5.8  142.0        NaN

In [25]:
# loading a huge file in chunks
dfs=pd.read_csv('placement.csv', chunksize=25)
for chunk in dfs:
    print(chunk.shape)

(25, 4)
(25, 4)
(25, 4)
(25, 4)