In [1]:
import pandas as pd
import requests

In [13]:
import requests

url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNmNkZDI2YzFkYjNkNjRmMjM1ODY2ODQ5NTQ3ZTdiMyIsIm5iZiI6MTc2Nzc5MjI1NC44NCwic3ViIjoiNjk1ZTVlN2U1NDM3ZGRkN2QxY2VhYTcyIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.TRZFz1NvvdzSNA7SdlZ5CROAaZtOw5sdlcEhc0uiHQk"
}

response = requests.get(url, headers=headers)

print(response.text)

{"page":1,"results":[{"adult":false,"backdrop_path":"/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.","popularity":39.9435,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","release_date":"1994-09-23","title":"The Shawshank Redemption","video":false,"vote_average":8.713,"vote_count":29470},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","popularity":31.894,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The Godfather","video":false,"vote_average":8.685,"vote_count":22243},{"adult":false,"backdrop_path":"/kGzFbGhp99zva6oZODW5atUtnqi.jpg","genre_ids":[18,80],"id":240,"original_language":"en","original_title":"The Godfather Part II","overview":"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.","popularity":16.9562,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","release_date":"1974-12-20","title":"The Godfather Part II","video":false,"vote_average":8.6,"vote_count":13450},{"adult":false,"backdrop_path":"/zb6fM1CX41D9rF9hdgclu0peUmy.jpg","genre_ids":[18,36,10752],"id":424,"original_language":"en","original_title":"Schindler's List","overview":"The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.","popularity":16.3744,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg","release_date":"1993-12-15","title":"Schindler's List","video":false,"vote_average":8.565,"vote_count":16969},{"adult":false,"backdrop_path":"/w4bTBXcqXc2TUyS5Fc4h67uWbPn.jpg","genre_ids":[18],"id":389,"original_language":"en","original_title":"12 Angry Men","overview":"The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.","popularity":13.4161,"poster_path":"/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg","release_date":"1957-04-10","title":"12 Angry Men","video":false,"vote_average":8.55,"vote_count":9628},{"adult":false,"backdrop_path":"/ukfI9QkU1aIhOhKXYWE9n3z1mFR.jpg","genre_ids":[16,10751,14],"id":129,"original_language":"ja","original_title":"千と千尋の神隠し","overview":"A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.","popularity":21.7505,"poster_path":"/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg","release_date":"2001-07-20","title":"Spirited Away","video":false,"vote_average":8.534,"vote_count":17790},{"adult":false,"backdrop_path":"/dGOZdWOB8OpZFVziEOUFhox5wz9.jpg","genre_ids":[18,28,80,53],"id":155,"original_language":"en","original_title":"The Dark Knight","overview":"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","popularity":26.2861,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","release_date":"2008-07-16","title":"The Dark Knight","video":false,"vote_average":8.525,"vote_count":34945},{"adult":false,"backdrop_path":"/zQDFHYNVVVp9OAYSixYAG1SyX1l.jpg","genre_ids":[35,18,10749],"id":19404,"original_language":"hi","original_title":"दिलवाले दुल्हनिया ले जायेंगे","overview":"Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.","popularity":6.817,"poster_path":"/2CAL2433ZeIihfX1Hb2139CX0pW.jpg","release_date":"1995-10-20","title":"Dilwale Dulhania Le Jayenge","video":false,"vote_average":8.516,"vote_count":4536},{"adult":false,"backdrop_path":"/lgJlu0Fp1mdTaFEeaQJ7DskhSOr.jpg","genre_ids":[14,18,80],"id":497,"original_language":"en","original_title":"The Green Mile","overview":"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.","popularity":19.7543,"poster_path":"/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg","release_date":"1999-12-10","title":"The Green Mile","video":false,"vote_average":8.503,"vote_count":18692},{"adult":false,"backdrop_path":"/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg","genre_ids":[35,53,18],"id":496243,"original_language":"ko","original_title":"기생충","overview":"All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.","popularity":26.5228,"poster_path":"/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg","release_date":"2019-05-30","title":"Parasite","video":false,"vote_average":8.496,"vote_count":19900},{"adult":false,"backdrop_path":"/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg","genre_ids":[12,14,28],"id":122,"original_language":"en","original_title":"The Lord of the Rings: The Return of the King","overview":"As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.​","popularity":28.4154,"poster_path":"/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","release_date":"2003-12-17","title":"The Lord of the Rings: The Return of the King","video":false,"vote_average":8.492,"vote_count":25827},{"adult":false,"backdrop_path":"/96hiUXEuYsu4tcnvlaY8tEMFM0m.jpg","genre_ids":[53,80,35],"id":680,"original_language":"en","original_title":"Pulp Fiction","overview":"A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.","popularity":24.9397,"poster_path":"/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg","release_date":"1994-09-10","title":"Pulp Fiction","video":false,"vote_average":8.486,"vote_count":29484},{"adult":false,"backdrop_path":"/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg","genre_ids":[16,10749,18],"id":372058,"original_language":"ja","original_title":"君の名は。","overview":"High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.","popularity":21.802,"poster_path":"/q719jXXEzOoYaps6babgKnONONX.jpg","release_date":"2016-08-26","title":"Your Name.","video":false,"vote_average":8.5,"vote_count":12202},{"adult":false,"backdrop_path":"/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg","genre_ids":[37],"id":429,"original_language":"it","original_title":"Il buono, il brutto, il cattivo","overview":"While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.","popularity":13.2067,"poster_path":"/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg","release_date":"1966-12-22","title":"The Good, the Bad and the Ugly","video":false,"vote_average":8.468,"vote_count":9327},{"adult":false,"backdrop_path":"/5XNQBqnBwPA9yT0jZ0p3s8bbLh0.jpg","genre_ids":[12,18,878],"id":157336,"original_language":"en","original_title":"Interstellar","overview":"The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.","popularity":45.1398,"poster_path":"/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg","release_date":"2014-11-05","title":"Interstellar","video":false,"vote_average":8.465,"vote_count":38542},{"adult":false,"backdrop_path":"/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest Gump","overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","popularity":21.1191,"poster_path":"/saHP97rTPS5eLmrLQEcANmKrsFl.jpg","release_date":"1994-06-23","title":"Forrest Gump","video":false,"vote_average":8.462,"vote_count":29063},{"adult":false,"backdrop_path":"/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg","genre_ids":[28,18],"id":346,"original_language":"ja","original_title":"七人の侍","overview":"A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.","popularity":9.4464,"poster_path":"/lOMGc8bnSwQhS4XyE1S99uH8NXf.jpg","release_date":"1954-04-26","title":"Seven Samurai","video":false,"vote_average":8.453,"vote_count":4070},{"adult":false,"backdrop_path":"/7TF4p86ZafnxFuNqWdhpHXFO244.jpg","genre_ids":[18,80],"id":769,"original_language":"en","original_title":"GoodFellas","overview":"The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.","popularity":17.5784,"poster_path":"/9OkCLM73MIU2CrKZbqiT8Ln1wY2.jpg","release_date":"1990-09-12","title":"GoodFellas","video":false,"vote_average":8.452,"vote_count":13886},{"adult":false,"backdrop_path":"/aHaqZpOL7UyVu0nKqp3SMz0o2E1.jpg","genre_ids":[16,18,10752],"id":12477,"original_language":"ja","original_title":"火垂るの墓","overview":"In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.","popularity":0.0108,"poster_path":"/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg","release_date":"1988-04-16","title":"Grave of the Fireflies","video":false,"vote_average":8.445,"vote_count":6263},{"adult":false,"backdrop_path":"/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg","genre_ids":[35,18],"id":637,"original_language":"it","original_title":"La vita è bella","overview":"A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.","popularity":8.5085,"poster_path":"/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg","release_date":"1997-12-20","title":"Life Is Beautiful","video":false,"vote_average":8.441,"vote_count":13703}],"total_pages":529,"total_results":10569}

In [10]:
pd.DataFrame(response.json()['results']).head(2)[['id', 'title', 'vote_average']]

    id                     title  vote_average
0  278  The Shawshank Redemption         8.713
1  238             The Godfather         8.685

In [11]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [25]:
import requests
import pandas as pd
import time

session = requests.Session()

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0MzRlZDNjMzkxMWYxODllY2E2YjBlZjIxOGVkYzcxZCIsIm5iZiI6MTc2Nzc5MjI1NC44NCwic3ViIjoiNjk1ZTVlN2U1NDM3ZGRkN2QxY2VhYTcyIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.b-CZkNqQdEzR3Bbc3BBjv8o4i9sn5AKCqkx9QJYodyk"

}


df = pd.DataFrame()

for i in range(1, 529):   # keep pages low while testing
    try:
        url = "https://api.themoviedb.org/3/movie/top_rated"
        params = {
            "language": "en-US",
            "page": i
        }

        response = session.get(
            url,
            headers=headers,
            params=params,
            timeout=10
        )

        response.raise_for_status()

        data = pd.DataFrame(response.json()["results"])[
            ["id", "title", "vote_average"]
        ]

        df = pd.concat([df, data], ignore_index=True)

        time.sleep(1.2)   # ⭐ VERY IMPORTANT

    except requests.exceptions.RequestException as e:
        print(f"Failed on page {i}: {e}")
        break

df.head()

Failed on page 501: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=501

    id                     title  vote_average
0  278  The Shawshank Redemption         8.713
1  238             The Godfather         8.685
2  240     The Godfather Part II         8.600
3  424          Schindler's List         8.565
4  389              12 Angry Men         8.550

In [26]:
df.head(30)

        id                                              title  vote_average
0      278                           The Shawshank Redemption         8.713
1      238                                      The Godfather         8.685
2      240                              The Godfather Part II         8.600
3      424                                   Schindler's List         8.565
4      389                                       12 Angry Men         8.550
5      129                                      Spirited Away         8.534
6      155                                    The Dark Knight         8.525
7    19404                        Dilwale Dulhania Le Jayenge         8.516
8      497                                     The Green Mile         8.503
9   496243                                           Parasite         8.496
10     122      The Lord of the Rings: The Return of the King         8.492
11     680                                       Pulp Fiction         8.486
12  372058                                         Your Name.         8.500
13     429                     The Good, the Bad and the Ugly         8.468
14  157336                                       Interstellar         8.465
15      13                                       Forrest Gump         8.462
16     346                                      Seven Samurai         8.453
17     769                                         GoodFellas         8.452
18   12477                             Grave of the Fireflies         8.445
19     637                                  Life Is Beautiful         8.441
20     550                                         Fight Club         8.438
21   14537                                           Harakiri         8.436
22   11216                                    Cinema Paradiso         8.429
23     120  The Lord of the Rings: The Fellowship of the Ring         8.427
24     598                                        City of God         8.426
25  667257                                  Impossible Things         8.425
26     539                                             Psycho         8.419
27   40096                                       A Dog's Will         8.418
28     510                    One Flew Over the Cuckoo's Nest         8.412
29     121              The Lord of the Rings: The Two Towers         8.411

In [47]:
import requests
import time

url = "https://weather-by-api-ninjas.p.rapidapi.com/v1/weather"
df=pd.DataFrame()
places = {
    "Delhi": (28.6139, 77.2090),
    "Mumbai": (19.0760, 72.8777),
    "Kolkata": (22.5726, 88.3639),
    "Chennai": (13.0827, 80.2707),
    "Seattle": (47.6062, -122.3321),
	"Durgapur": (23.5158, 87.3080)
}

headers = {
    "x-rapidapi-key": "fadd5b55e3mshe39e9fae39e4a96p1f6752jsn146f3e700958",
    "x-rapidapi-host": "weather-by-api-ninjas.p.rapidapi.com"
}

for city, (lat, lon) in places.items():
    params = {
        "lat": lat,
        "lon": lon
    }

    response = requests.get(url, headers=headers, params=params)
    data = response.json()

    temp=pd.DataFrame([data])[['temp','humidity','wind_speed','cloud_pct']]
    df=pd.concat([df,temp],ignore_index=True)

   

    time.sleep(1)  # prevents rate-limit issues

df.head()

   temp  humidity  wind_speed  cloud_pct
0     9        93        1.03          0
1    26        47        2.57          0
2    16        67        2.06          2
3    25        67        4.12         40
4     5        89        6.69         75

In [48]:
df.index=places.keys()
df

          temp  humidity  wind_speed  cloud_pct
Delhi        9        93        1.03          0
Mumbai      26        47        2.57          0
Kolkata     16        67        2.06          2
Chennai     25        67        4.12         40
Seattle      5        89        6.69         75
Durgapur    15        39        2.56          1